:root {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #191724;
  color: #fffaf3;
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  align-items: center;
}

header {
  margin: 2.5rem;
  padding: 1.5rem;
}

h1 {
  margin: 1rem;
  padding: 1rem;
  font-weight: bolder;
  color: #ea9d34;
}

small{color: #eb6f92;}
strong{color: #56949f;}

ul,
li,
a {
  margin: 0rem;
  padding: 0.5rem;
  color: #c4a7e7;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#a-strong {
  margin: 0rem;
  padding: 0.5rem;
  color: #c4a7e7;
  text-decoration: none;
}

